/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#cus-pg html,
#cus-pg body,
#cus-pg div,
#cus-pg span,
#cus-pg applet,
#cus-pg object,
#cus-pg iframe,
#cus-pg h1,
#cus-pg h2,
#cus-pg h3,
#cus-pg h4,
#cus-pg h5,
#cus-pg h6,
#cus-pg p,
#cus-pg blockquote,
#cus-pg pre,
#cus-pg a,
#cus-pg abbr,
#cus-pg acronym,
#cus-pg address,
#cus-pg big,
#cus-pg cite,
#cus-pg code,
#cus-pg del,
#cus-pg dfn,
#cus-pg em,
#cus-pg img,
#cus-pg ins,
#cus-pg kbd,
#cus-pg q,
#cus-pg s,
#cus-pg samp,
#cus-pg small,
#cus-pg strike,
#cus-pg strong,
#cus-pg sub,
#cus-pg sup,
#cus-pg tt,
#cus-pg var,
#cus-pg b,
#cus-pg u,
#cus-pg i,
#cus-pg center,
#cus-pg dl,
#cus-pg dt,
#cus-pg dd,
#cus-pg ol,
#cus-pg ul,
#cus-pg li,
#cus-pg fieldset,
#cus-pg form,
#cus-pg label,
#cus-pg legend,
#cus-pg table,
#cus-pg caption,
#cus-pg tbody,
#cus-pg tfoot,
#cus-pg thead,
#cus-pg tr,
#cus-pg th,
#cus-pg td,
#cus-pg article,
#cus-pg aside,
#cus-pg canvas,
#cus-pg details,
#cus-pg embed,
#cus-pg figure,
#cus-pg figcaption,
#cus-pg footer,
#cus-pg header,
#cus-pg hgroup,
#cus-pg menu,
#cus-pg nav,
#cus-pg output,
#cus-pg ruby,
#cus-pg section,
#cus-pg summary,
#cus-pg time,
#cus-pg mark,
#cus-pg audio,
#cus-pg video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

#cus-pg article,
#cus-pg aside,
#cus-pg details,
#cus-pg figcaption,
#cus-pg figure,
#cus-pg footer,
#cus-pg header,
#cus-pg hgroup,
#cus-pg menu,
#cus-pg nav,
#cus-pg section {
	display: block;
}

#cus-pg body {
	line-height: 1;
}

#cus-pg ol,
#cus-pg ul {
	list-style: none;
}

#cus-pg blockquote,
#cus-pg q {
	quotes: none;
}

#cus-pg blockquote:before,
#cus-pg blockquote:after,
#cus-pg q:before,
#cus-pg q:after {
	content: '';
	content: none;
}

#cus-pg table {
	border-collapse: collapse;
	border-spacing: 0;
}

#cus-pg a {
	text-decoration: none
}